@import '../../components/NumTestBg.css';

/* 🟣 整頁容器（扣掉固定 Navbar 70px） --------------------- */
.numtest1 {
    width: 100%;
    height: 100vh;
    /* 🟣 剛好一整視窗高（含 padding） */
    padding-top: 70px;
    /* 🟣 下推內容，避免被 navbar 壓住 */
    box-sizing: border-box;
    /* 🟣 讓 padding 計入 100vh */
    display: flex;
}

/* 主要內容區 */
.num1-numtest {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ---------- 第一個標題 ---------- */
.num1-title-1 {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 3.25rem;
    /* 52px */
}

.num1-decorate-title {
    color: #8750BF;

    /* 中文/霞鶩文楷/標題3 */
    font-family: "LXGW WenKai Mono TC";
    font-size: 1.75rem;
    /* 28px */
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.175rem;
    /* 2.8px */

    margin: 0 2rem;
}

.num1-decorate-left,
.num1-decorate-right {
    width: 1rem;
    height: auto;
}

.num1-hr {
    height: 1.5px;
    width: 10.5vw;
    border-color: #8750BF;
    margin: 0 -0.1rem;
}

/* ---------- 第二個標題 ---------- */
.num1-title-2 {
    color: #8750BF;

    /* 中文/霞鶩文楷/標題1 */
    font-family: "LXGW WenKai Mono TC";
    font-size: 2.25rem;
    /* 36px */
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.225rem;
    /* 3.6px */

    margin-bottom: 3.25rem;
    /* 52px */

}

/* ---------- 按鈕 ---------- */
.num1-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    padding: 1rem 6.5rem;

    border: none;
    border-radius: 999px;

    color: #ffffff;
    background-color: #A67CEB;

    /* Button/24 */
    font-family: "Noto Sans TC";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.15rem;
    cursor: pointer;
}

.num1-button:hover {
    background-color: #9763Ca;
}

.num1-button:active {
    background-color: #6E3BBF;
}

.copyrightNotice {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* ========================================================= */
/* ---------- RWD 斷點：≤ 1024px ---------- */
@media (max-width: 1024px) {
    .num1-decorate-title {
        margin: 0 1.5rem;
    }
}

/* ---------- RWD 斷點：≤ 767px ---------- */
@media (max-width: 767px) {
    .num1-decorate-title {
        font-size: 1.5rem;
        letter-spacing: 0.15rem;
        margin: 0 1rem;
    }
    .num1-button {
        font-size: 1.375rem;
        
        width: 16.25rem;
        height: auto;
        padding: 0.5rem 0;
    }
}