@import '../../components/BgLight.css';

.knowledge-crystal-main {
  width: 100%;
  min-height:100vh;
  padding-top: 70px;             /* 🟣 下推內容，避免被 navbar 壓住 */
  box-sizing: border-box;        /* 🟣 讓 padding 計入 100vh */
  display:flex;
  flex-direction:column;
}

/* 上半區：文字與水晶簡介 */
.know-crystal-category {
  margin-top: 40px;
}
/* 選單 */
.know-crystal-category-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;

  color: #A78DBB;

  /* 中文/思源黑體/小標題3 */
  font-family: "Noto Sans TC";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.063rem;
}
/* 選單:預設 */
.know-crystal-category-menu li {
  cursor: pointer;
  transition: all 0.3s ease;

  border-radius: 999px;
  background-color: transparent;
}
/* 選單:hover */
.know-crystal-category-menu li:hover {
  border: 2px solid #A78DBB;
  background-color: rgba(167, 141, 187, 0.1);
  padding: 8px 24px;
}
/* 選單:已選取 */
.know-crystal-category-menu li.active {
  color: #8750BF;
  border: 2px solid #A78DBB;
  background-color: rgba(167, 141, 187, 0.1);
  padding: 8px 24px;
}

/* 選到的水晶 */
.know-crystal-category-singlecrystal {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
/* 主水晶英文 */
.know-crystal-category-singlecrystal > h1 {
  position: absolute;
  z-index: 1;

  color: #5750AD;
  opacity: 0.16;

  font-family: Lora;
  font-size: 10rem;
  font-style: italic;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.5rem;
}

/* 主水晶、左右切換按鈕 */
.know-crystal-category-singlecrystal-img {
  position: relative;
  z-index: 2;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  max-width: 900px;

  margin-top: 130px;
}
/* 主水晶大小 */
.know-crystal-category-singlecrystal-center {
  width: 150px;
  height: auto;
}
/* 左右切換按鈕：預設 */
.know-crystal-category-singlecrystal-arrow {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
/* 左右切換按鈕：hover */
.know-crystal-category-singlecrystal-arrow:hover {
  scale: 1.3;
}
/* 左右切換按鈕：已點擊 */
.know-crystal-category-singlecrystal-arrow:active {
  scale: 1.15;
}


/* 下半區：水晶相關內容 */
.know-crystal-content {
  position: relative;
  clip-path: ellipse(93% 150% at 50% 150%);
  padding-top: 4.5%;
  margin: 4% 0;
  color: #FFF;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

/* 主石介紹 */
.know-crystal-content-area1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.know-crystal-content-area1 > h2 {
  margin-bottom: 20px;
}

/* 功效＆人群 */
.know-crystal-content-area2 {
  display: flex;
  justify-content: center;
  gap: 120px;
}

/* 推薦搭配水晶 */
.know-crystal-content-recommended {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.know-crystal-content-recommended > h2 {
  margin-bottom: 20px;
}
/* 推薦三顆水晶 */
.know-crystal-content-recommended-crystalimg {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
/* 推薦三顆水晶-單顆 */
.know-crystal-content-recommended img {
  width: 50px;
  height: auto;
  cursor: pointer;
}

.know-crystal-content-recommended img:hover {
  filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.8));
  scale: 1.1;
}

/* 共用文字、hr */
.know-crystal-content-h2 {
  /* 中文/霞鶩文楷/標題4 */
  font-family: "LXGW WenKai Mono TC";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.15rem;
  text-align: center;
}
.know-crystal-content-p {
  /* 中文/思源黑體/內文1 */
  font-family: "Noto Sans TC";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.1rem;
  text-align: center;
  white-space: pre-line;
}
.know-crystal-content-hr {
  height: 2px;
  width: 34.5vw;
  margin: 12px 0;
}

/* --- 平板 ≤ 1024px --- */
@media (max-width: 1024px){
  /* 選單 */
  .know-crystal-category-menu {
    gap: 80px;
  }

  /* 主水晶英文 */
  .know-crystal-category-singlecrystal > h1 {
    font-size: 6.25rem;
  }
  
  /* 主水晶、左右切換按鈕 */
  .know-crystal-category-singlecrystal-img {
    margin-top: 80px;
  }

  /* 主水晶大小 */
  .know-crystal-category-singlecrystal-center {
    width: 110px;
  }
}

/* --- 手機螢幕 ≤ 767px --- */
@media (max-width: 767px){}