.know-clean-main {
    width: 100%;
    min-height:85vh;
    padding-top: 70px;             
    box-sizing: border-box;        /* 🟣 讓 padding 計入 100vh */
    display:flex;
    justify-content: center;
    position: relative;;
}
/* 月亮圖 */
.know-clean-main::before{
    content:'';
    position:absolute;
    inset:0;
    background:url('../images/Knowledge/knowledge1-moon.png');
    background-repeat: no-repeat;


    background-position: right -3vw top -42vh;
    background-size: 70%;

    pointer-events:none;
    z-index: 1; 
}

/* 左側標題區 */
.know-clean-title {
    position: relative; 
    width: 30%;
    /* margin-top: 70px; */

    display: grid;

    justify-content: center;
    align-items: center;
    z-index: 2;

}
.know-clean-title >h1 {
    color: #fff;
    /* 中文/霞鶩文楷/標題3 */
    font-family: "LXGW WenKai Mono TC";
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 1rem;

    writing-mode: vertical-rl;
    text-orientation: upright;
    white-space: nowrap;
}
/* 鑽石 */
.know-clean-deco1 {
    position: absolute;
    width: 45px;
    transform: rotate(160deg);
    left: 7vw; 
    bottom: 17vh;  

}
.know-clean-deco2 {
    position: absolute;
    width: 35px;
    transform: rotate(18deg);
    right: 7vw; 
    top: 25vh; 
}

/* 右側內容區 */
.know-clean-content {
    width: 70%;

    display: flex;
    justify-content: center;
    padding-top: 3.5vh;
    z-index: 2;
}
/* 內容文字區域 */
.know-clean-text {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
/* 列點樣式 */
.know-clean-how > ol {
    list-style-type: decimal;
    margin-left: 24px;
}
.know-clean-clean > ul {
    list-style-type: disc;
    margin-left: 24px;
} 
/* 間距 */
.know-clean-clean {
    margin-left: 80px;
}
.know-clean-tips {
    margin-left: 160px;
}

/* 共用文字 */
/* 各標題 */
.know-clean-how >h2,
.know-clean-clean >h2,
.know-clean-tips{
    color: #5A4D9C;

    /* 中文/霞鶩文楷/標題6 */
    font-family: "LXGW WenKai Mono TC";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
    letter-spacing: 2px;
}
.know-clean-how >h2,
.know-clean-clean >h2 {
        margin-bottom: 16px;
}
/* 各內文 */
.know-clean-how > ol li,
.know-clean-clean > ul li {
    color: #3B394F;
    /* 中文/思源黑體/內文1 */
    font-family: "Noto Sans TC";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
    letter-spacing: 1.6px;
}

.know-clean-footer {
    position: relative;
}


/* --- 手機螢幕 ≤ 767px --- */
@media (max-width: 767px) {
    .know-clean-main {
        min-height: 0vh;
        height: 100%;
        flex-direction: column;
        padding-top: 70px;
    }

    /* 左側標題區 */
    .know-clean-title {
        width: 100%;
        display: flex;
        margin: 80px 0 30px;
    }
    .know-clean-title >h1 {
        letter-spacing: 0.5rem;
        writing-mode: horizontal-tb;
    }
    /* 鑽石 */
    .know-clean-deco1 {
        width: 24px;
        left: 7vw; 
        top: 2vh; 
    }
    .know-clean-deco2 {
        width: 20px;
        transform: rotate(-160deg);
        right: 8vw;
        top: 3vh;
    }

    /* 右側內容區 */
    .know-clean-content {
        width: 100%;
        padding: 155px 30px 240px;
        background-position: -114vw 0vh;
        background-size: 250%;
    }

    /* 間距 */
    .know-clean-clean,.know-clean-tips {
        margin: 0;
    }

}