// 塔羅卡片
@keyframes zoomIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

// 開始測驗鑽石 閃爍
@keyframes opacityGlow {

  0%,
  100% {
    opacity: 0.3;
  }

  50% {
    opacity: 1;
  }
}

// 畫面2 scroll
@keyframes scrollDiamondAnim {
  0% {
    // top: 10px;
    top: 5%;
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    top: 40%;
    opacity: 1;
  }

  100% {
    top: 50%;
    opacity: 0;
  }

}