/* 變數：root */
:root {
    --color-white: #ffffff;
    --color-deep: #585858;
    --bg: url(../images/noisy-background.jpg);
    --color-bg1: #faf2fc;
    --color-primary1: #8750BF;
    --color-primary2: #a269e8;
    --color-primary3: #684581;
    --color-primary4: #A67CEB;
    --color-primary5: #E4DEED;
    --color-primary6: #D7BEFF;
    --color-primary7: #FAF6FF;
    --color-primary8: #e7d8ea;
    --color-primary9: #A770DE;
    --color-hover1: #d8c9ef;
    --color-font-gray: #8284A2;


    --shodow: rgb(233, 166, 160, .35);
    --color-font: #585858;
    --color-lesser3: #4249d4;
    --letter-spacing: 2.4px;
    --font-h2: "LXGW WenKai Mono TC", monospace;
    --font-button-24: "Noto Sans TC", sans-serif;
}





/* 背景 */
.index {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: 0 auto;
    gap: 1.25rem;

    height: 100vh;
    /* 🟣 剛好一整視窗高（含 padding） */
    padding-top: 4.375rem;
    /* 🟣 下推內容，避免被 navbar 壓住 */
    box-sizing: border-box;
    /* 🟣 讓 padding 計入 100vh */

}

/*水晶擺放教學*/
.crystalGuideOverlay {
    position: fixed;
    inset: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.crystalGuideContent {
    background: #fff;
    padding: 2rem;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    font-family: 'Noto Sans TC';
    width: 450px;
    /* height: 300px; */
}

.crystalGuideContent h3 {
    font-family: "Noto Sans TC";
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.063rem;
    color: #8750BF;
}

.crystalGuideContent p {
    font-family: "Noto Sans TC";
    font-size: 1rem;
    font-weight: 400;
    line-height: 200%;
    letter-spacing: 0.1rem;
    color: #8750BF;
}

.guideCloseBtn {
    margin-top: 1.5rem;
    padding: 0.5rem 1.2rem;
    background-color: #A67CEB;
    color: #fff;
    border: none;
    border-radius: 999px;
    width: 152.5px;
    height: 46px;
    cursor: pointer;
    font-size: 1rem;
}

.guideCloseBtn:hover {
    background-color: #9763Ca;
}

.guideCloseBtn:active {
    background-color: #6e3bbf;
}



.boxs2,
.iconbox2 {
    width: 100%;
}

.boxs3 {
    width:100%;
    display:flex;
    justify-content:center;
}

.sizeAndBeads {
    width: 100%;
}

.icon1Box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 100%;
}

.iconPanelWrapper {
    display: flex;
    justify-content: flex-end;
    /* 按鈕靠右 */
    align-items: center;
    position: relative;
    z-index: 20;
}

.align {
    right:0;
    z-index:98; 
}

.boxs,
.boxs2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxs {
    max-width: 31.5rem;
}

.boxs {
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: center;
    gap: 1.87rem;
    /* margin-top: 1rem; */
}

.boxs2 {
    /* margin-bottom: 1.25rem; */
    display: flex;
    align-content: center;
    gap: 1.87rem;
    margin-right: 2%;

    justify-content: center;
}



/* 名稱欄 */
.titleName {
    color: var(--color-primary3);
    padding-bottom: 1.25rem;
    text-align: center;
}

.inputName {
    border-style: none;
    width: 100%;
    height: 3.25rem;
    border-radius: 0.938rem;
    text-align: center;
    color: var(--color-primary3);
}

.inputName:focus {
    outline: none;
    border: 2px solid var(--color-primary4);
    box-shadow: 0 0 0.3rem var(--color-primary4);
}

.inputName::placeholder {
    color: rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 3.25rem;
}

.name {
    flex-flow: column;
    align-items: center;
    width: 80%;
}
.nametop {
    display: none;
}

.price {
    text-align: center;
    line-height: 3.25rem;
    text-align: center;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.4);
}

.price:focus {
    outline: none;
}


/* 尺寸設定 */
.sizeBox {
    padding: 1.25rem 1.5rem;
    width: 100%;
    border-radius: 1.25rem;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px 0px rgba(233, 166, 160, 0.25);
}

.title-size {
    margin-bottom: 0.625rem;
    color: var(--color-primary1);
}

.line {
    border: 1px solid #8c5abe80;
    height: 0.063rem;
    margin-bottom: 1.5rem;
}

.button {
    color: #ffffff;
    border-style: none;
    padding: 0.25rem 1rem;
    width: 100%;
    height: 2rem;
    border-radius: 1.25rem;
    background: var(--color-primary4)
}

.button:hover {
    background-color: #9763Ca;
}

.button.active {
    background-color: #6e3bbf;
}

.crystalSizeButtons {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
}

/* 滑桿 */
.sliderInput {
    -webkit-appearance: none;
    height: 0.25rem;
    width: 100%;
    background: var(--color-primary5);
    border-radius: 0.313rem;
    outline: none;
    cursor: pointer;
}

.sliderInput::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1rem;
    width: 1.563rem;
    background: #ffffff;
    border-radius: 8px;
    border: .75px solid var(--color-primary6);
    box-shadow: 0 0 0.313rem var(--shodow);
    transition: 0.3s;
}

.sliderInput:hover::-webkit-slider-thumb {
    background: var(--color-primary6);
    border: .75px solid #ffffff;
}

/* 尺寸設定視窗框 */
.crystalSizeBox,
.ringSizeBox {
    margin-bottom: 1rem;
}

.crystalSizeBox,
.ringSizeBox,
.ringJewelryBox,
.imagesBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
}

.imagesBox {
    margin: auto 50% auto auto;
}

.ringSizeSlider {
    width: 100%;
}

.imagesBox img {
    width: 1.563rem;
    cursor: pointer;
}

.crystalSize,
.ringSize,
.ringJewelry,
.sizeValue {
    color: var(--color-font);
    text-wrap-mode: nowrap;
}

.sizeValue {
    color: var(--color-font);
    text-wrap-mode: nowrap;
}





/* 手鍊 */
/* 手鏈容器：相對定位、置中 */
.bracelet {
    position: relative;
    width: 25.25rem;
    height: 25.25rem;
    margin: 2.5rem;
}

/* 通用珍珠樣式 */
.pearl {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 0 0;
    border-radius: 50%;
    background-color: var(--color-primary8);
    background-blend-mode: darken;
    box-shadow: 0px 2.775px 6.937px 0px rgba(0, 0, 0, 0.10) inset;

    /* ➊ 旋轉到角度 ➋ 向右平移半徑 ➌ 把自身中心拉回 (-50%, -50%) */
    transform:
        rotate(calc(360deg / 32 * var(--i))) translateX(calc(404.4px / 2)) translate(-50%, -50%);
}

.pearlBig,
.pearlSmall {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    z-index: 2;
}

.pearlBase {
    composes: pearl;
    cursor: pointer;
    position: absolute;
    inset: 0;
    background-color: #F3ECF5;
    mix-blend-mode: multiply;
    border-radius: 50%;
    z-index: 1;
}

.pearlImage {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    mix-blend-mode: normal;
}


/* 單顆水晶列表 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit
}

/* 珠子視窗框 */
#beadWindow {
    /* 6 顆珠寬 + 5 個 gap + 兩側 padding */
    width: calc(6*var 3rem + 5*var 0.75rem + 2*var 1.25rem);
    /* 2 行珠高 + gap + 上下 padding */
    height: calc(2*var 3rem + var 0.875rem + 2*var 1.5rem);
    /* width: 390px; */
    width: 100%;
    height: 9.875rem;
    /* margin: 2.375rem auto; */
    margin-top: 2.375rem;
    background: var(--color-white);
    /* border-radius: 1.25rem; */
    border-radius: 0 0 1.25rem 1.25rem;
    box-shadow: 0px 0px 15px 0px rgba(233, 166, 160, 0.25);
    position: relative;
    padding: 1.5rem 1.25rem;
    padding-top: calc(1.25rem + 0.625rem/2);
    /* 給頁籤留位置 */
}

/* 珠子頁籤列 */
.tabs {
    display: flex;
    justify-content: flex-start;
    /* width: 24rem; */
    width: 100%;
    overflow: hidden;
    position: absolute;
    /* top: -1.15rem; */
    /* left: 50%; */
    top: -2.3rem;
    left: 0;
    /* transform: translate(-50%, -50%); */
    display: flex;
    /* gap: 0; */
    cursor: pointer;
}
.tabLabelFull {
    display: flex;
}
.tabLabelShort {
    display: none;
}

.tab.active {
    color: var(--color-primary1);
    background: var(--color-white);
    z-index: 2;
    display: flex;
    justify-content: center;
}

/* 單一頁籤 */
.tab {
    /* test */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 5.3rem; */
    width: 100%;
    height: 2.313rem;
    border: none;
    padding: 0;
    background: var(--color-primary7);
    color: var(--color-primary3);
    border-top-left-radius: 1.125rem;
    border-top-right-radius: 1.125rem;
    cursor: pointer;
    /* box-shadow: 0 0 15px 0 rgba(233, 166, 160, 0.25); */
}
.tabLine {
    width: .5px;
    height: 60%;
    margin-top: auto;
    background-color: #8750BF;
    /* margin-right: 0.7rem;
    margin-left: -0.7rem; */
    margin-right: 19%;
    margin-left: -19%;
}


/* 珠子網格 */
.beadGrid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 46px);
    /* 垂直 */
    grid-template-rows: repeat(2, 46px);
    /* 水平 */
    gap: 1.25rem;
    justify-content: space-evenly;
    align-content: space-around;
}

/* 珠子外觀 */
.bead {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #e3e3e3;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, .10);
    cursor: pointer;
}

.selectedBead {
    outline: 2px solid #b28ed5;
    outline-offset: 0px;
    border-radius: 50%;
    z-index: 10;
}


/* 儲存/刪除按鈕 */
.iconBox1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 3.125rem;
}

.btnDel,
.btnSave {
    width: 3.125rem;
    height: 3.125rem;
    cursor: pointer;
    background-size: contain;
}


/* icon按鈕 */
.btnDel {
    background-image: url(../images/Custom/btn_del.png);
}

.btnSave {
    background-image: url(../images/Custom/btn_save.png);
}

/* hover */
.btnDel:hover {
    background-image: url(../images/Custom/btn_del_hover.png);
}

.btnSave:hover {
    background-image: url(../images/Custom/btn_save_hover.png);
}

/* active */
.btnDel:active,
.btnSave:active {
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid var(--color-primary9);
    border-radius: 0.94rem;
}

/* 預載icon hover按鈕(解決重整頁面hover狀態前的閃爍問題) */
.preload {
    position: absolute;
    top: -624.938rem;
    left: -624.938rem;
    width: 0;
    height: 0;
    overflow: hidden;
    background-image: url(../images/Custom/btn_del_hover.png),
        url(../images/Custom/btn_save_hover.png);
}





/* 價格框 */
.priceBox {
    position: relative;
    top: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.price {
    width: 55%;
    height: 2.75rem;
    border-style: none;
    border-radius: 0.625rem;
}



/* 右側欄 */
.iconBox2 {
    display: flex;
    align-items: center;
    right: 10%;

    border-radius: 0.938rem;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 15px 0px rgba(233, 166, 160, 0.25);
    backdrop-filter: blur(5px);
}

.icon1Box {
    z-index: 10;
    position: relative;
    padding: 1.25rem 0.75rem;
    width: 5.438rem;
    /* height: 28.125rem; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.buttonMobile, .arrowMobile {
    display: none;
}

.icon1Box hr {
    margin: 0.75rem 0;
}

/* 加購物車按鈕 */
.icon2 {
    width: 100%;
    /* padding: 0.938rem; */
    padding: 0.7rem;
    color: #A67CEB;
    align-content: center;
    cursor: pointer;
    margin-top: 1rem;

    border-radius: 0.9375rem;
    border: 1px solid #A67CEB;
    background: rgba(254, 250, 255, 0.60);
    box-shadow: 0 0 10px 0 rgba(233, 166, 160, 0.25);
}
.icon2Mobile {
    display: none;
}
.btnCart {
    background-image: url(/images/Custom/btn_cart.svg);
    background-repeat: no-repeat;
    width: 2.2rem;
    height: 2.2rem;
    margin: auto;
    margin-bottom: 2px;
 }

.icon2:hover {
    background: #A67CEB;
    box-shadow: 0 0 15px 0 rgba(233, 166, 160, 0.25);
    color: #fff;
}
.icon2:hover .btnCart {
    background-image: url(/images/Custom/btn_cart-hover.svg);
    background-repeat: no-repeat;
}

.icon1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    width: 100%;
}

.icon1 p,
.icon2 p {
    display: flex;
    justify-content: center;
}

.icon1 p {
    color: var(--color-font-gray);
}


/* 右邊按鈕 */
.iconBtn1 {
    background-image: url(../images/Custom/btn_size_tool.svg);
}

.iconBtn2 {
    background-image: url(../images/Custom/btn_ans_tool.svg);
}

.iconBtn3 {
    background-image: url(../images/Custom/btn_knowl_tool.svg);
}

.iconBtn4 {
    background-image: url(../images/Custom/btn_note_tool.svg);
}

.iconBtn5 {
    background-image: url(../images/Custom/btn_dum_tool.svg);
}


/* hover */
.iconBtn1:hover,
.iconBtn1.active {
    background-image: url(../images/Custom/btn_size_tool_hover.svg);
}

.iconBtn2:hover,
.iconBtn2.active {
    background-image: url(../images/Custom/btn_ans_tool_hover.svg);
}

.iconBtn3:hover,
.iconBtn3.active {
    background-image: url(../images/Custom/btn_knowl_tool_hover.svg);
}

.iconBtn4:hover,
.iconBtn4.active {
    background-image: url(../images/Custom/btn_note_tool_hover.svg);
}

.iconBtn5:hover,
.iconBtn5.active {
    background-image: url(../images/Custom/btn_dum_tool_hover.svg);
}


.iconBtn1,
.iconBtn2,
.iconBtn3,
.iconBtn4,
.iconBtn5 {
    width: 3.3rem;
    height: 3.3rem;
    padding-bottom: 0.313rem;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
}



.line2 {
    border: 0.5px solid var(--color-font-gray);
    /* height: 0.063rem; */
    margin-bottom: 1.5rem;
}

/* 字型設定 */
.titleName,
.inputName,
.title-size,
.crystalSize,
.button,
.ringSize,
.sizeValue,
.ringJewelry,
.price,
.icon1 p,
.icon2 p,
.tab  {
    font-family: "Noto Sans TC";
    letter-spacing: 0.08rem;
}

/* 字重 */
.titleName,
.title-size {
    font-weight: 500;
}

.inputName,
.crystalSize,
.button,
.ringSize,
.sizeValue,
.ringJewelry,
.tab,
.price,
.icon1 p,
.icon2 p {
    font-weight: 400;
}

/* 字型大小 */
/* .icon1 p,
.icon2 p {
    font-size: 0.75rem;
} */

.button,
.sizeValue,
.tab,
.icon1 p,
.icon2 p {
    font-size: 0.875rem;
}

.title-size,
.crystalSize,
.ringSize,
.ringJewelry {
    font-size: 1rem;
}

.titleName,
.price {
    font-size: 1.25rem;
}

.inputName {
    font-size: 1.5rem;
}


/* 側邊滑入視窗 */
.panelOverlay {
    position:absolute;
    right:100%;
}

.panelInner {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.panelHeader {
    position: sticky;
    top: 0;
    z-index: 2;
    /* background: rgba(255, 255, 255, 0.95); */
    /* padding: 1rem 1rem 0 1rem; */
    padding: 0.3rem 0 0;
}


.panelContent {
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* ← 保留互動功能*/
    position: absolute;
    width: 18.75rem;
    height: 26.125rem;
    max-width: 90vw;
    border-radius: 40px 0px 0px 40px;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 0px 15px 0px rgba(233, 166, 160, 0.25);
    backdrop-filter: blur(7px);
    padding: 0rem 1.2rem 2rem;
    animation: slideIn 0.3s ease forwards;
    scrollbar-width: thin;
    scrollbar-color: #FFF #E4DEED;
    margin-right: -0.25rem;
    right: 60%;
    z-index: 0;
    top: -210px;
}

.overlayContent {
    flex: 1;
    overflow-y: scroll;
    padding: 1rem;
    scrollbar-width: thin;
    scrollbar-color: #fff #E4DEED;
}

.overlayContent::-webkit-scrollbar {
    width: 8px;
}

.overlayContent::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 999px;
}

.overlayContent::-webkit-scrollbar-thumb {
    background-color: #C3B7DD;
    border-radius: 999px;
    border: 2px solid transparent;
    background-clip: content-box;
}


.panelTitle {
    color: #8750BF;
    text-align: center;
    /* 中文/思源黑體/小標題3 */
    font-family: "Noto Sans TC";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.063rem;
}

.panelOverlay p {
    color: #585858;
    font-family: "Noto Sans TC";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.088rem;
    text-align: left;
}

/* 裝飾線 */
.decoDividerMobile2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0.5rem 0 1.5rem;
}
.dividerLeft, .dividerRight {
    width: 1.3rem;
    height: auto;
}
.decoDividerMobile2 hr {
    width: 100%;
    border: 0.95px solid #8750BF;
    margin: 0 -0.1rem;
}




.overlayContent {
    position: relative;
    display: flex;
    padding: 0px 20px;
    flex-direction: column;
    gap: 16px;
    flex: 1 0 0;
    align-self: stretch;
}

.panelTitle2 {
    color: #8750BF;
    font-family: "Noto Sans TC";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.088rem;
    display: flex;
    justify-content: center;
}

.closeBtnWrapper {
    position: sticky;
    top: 1rem;
    z-index: 9999;
    width: 3rem;
    height: 2.5rem;
    /* background-color: rgba(255, 255, 255, 0.95); */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.closeBtn {
    background: transparent;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
    color: #8750bf;
    line-height: 1;
}



@keyframes slideIn {
    from {
        transform: translateX(3rem);
    }

    to {
        transform: translateX(0);
    }
}

/*wikiBtn */
.wikiBtn {
    padding: 0.6rem 1.2rem;
    font-size: 0.9rem;
    font-family: "Noto Sans TC", sans-serif;
    background-color: var(--color-primary4);
    color: #fff;
    border: none;
    border-radius: 999px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.wikiBtn:hover {
    background-color: #6e3bbf;
    box-shadow: 0 0 6px rgba(135, 80, 191, 0.5);
}

.wikiBtn:active {
    background-color: #6e3bbf;
    box-shadow: 0 0 6px rgba(135, 80, 191, 0.5);
}


/*特別訂製*/
.customTextarea {
    height: 9rem;
    border: #8750BF solid 2px;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 1rem;
    letter-spacing: 0.088rem;
    color: #333;
}

.customTextarea:focus {
    outline: none;
}

.customTextarea::placeholder {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 1rem;
    letter-spacing: 0.088rem;
}


/*是否刪除的彈窗*/
.modalOverlay, .modalOverlay2 {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    color: #8750BF;
    text-align: center;
    font-family: "Noto Sans TC";
    font-size: 1.25rem;
    /* 20px */
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    /* 150% 通常不需要單位 */
    letter-spacing: 0.0625rem;
    /* 1px */
}

.modalContent {
    background: white;
    padding: 2rem 2.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    animation: popIn 0.25s ease;
}

.modalContent p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

.modalButtons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.modalButtons button {
    padding: 0.5rem 1.2rem;
    border: none;
    border-radius: 999px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.2s ease;
}

.modalButtons button:first-child {
    background-color: #8750BF;
    color: white;
}

.modalButtons button:first-child:hover {
    background-color: #9763CA;
}

.modalButtons button:last-child {
    background-color: #f0f0f0;
    color: #6b6b6b;
}

.modalButtons button:last-child:hover {
    background-color: #e0e0e0;
}

.btnConfirm {
    padding: 0.5rem 1.2rem;
    border: none;
    border-radius: 999px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.2s ease;
    background-color: #8750BF;
    color: white;
}

.btnConfirm:hover {
    background-color: #9763CA;
}

/* 彈出動畫 */
@keyframes popIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}


/*手鍊加入購物車彈窗*/
.modalContentLarge {
    background: white;
    box-shadow: 0px 0px 15px 0px rgba(233, 166, 160, 0.25);
    padding: 2rem;
    border-radius: 20px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.previewtopic {
    font-size: 1.375rem;
}

.previewImg {
    /* width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px; */
    width: 300px;
    height: 300px;
    object-fit: contain;
    margin: 1rem auto;
    display: block;
    border-radius: 16px;
    /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); */
}

.infoBox {
    font-size: 1rem;
    line-height: 1.8;
    padding: 0 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
    color: #806b8b;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.noticeBox {
    font-size: 1rem;
    font-weight: 500;
}

.checkboxLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    accent-color: #8750bf;
    cursor: pointer;
    gap: 8px;
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 2rem;
}

.errorText {
    color: var(--color-primary3);
    font-size: 0.875rem;
    margin-top: -1.5rem;
    margin-bottom: 1rem;
    font-weight: 500;
}


/* 大於 1680px：上下分區 */
@media (min-width: 1680px) {
    .index {
        max-width: 70%;
        justify-content: space-between;
    }

    /* 中間＆右邊 */
    .boxs3 {
        width: 100%;
    }

    /* 珠子頁籤列 */
    .tabs {
        width: 25rem;
    }
}


/* 小於 1024px：上下分區 */
@media (max-width: 1024px) {
    .index {
        flex-direction: column-reverse;
        align-items: center;
        gap: 2rem;
        height: 100%;
        max-width: 100%;
        overflow: hidden;
    }

    /* 左邊＆中間 */
    .boxs2, .boxs {
        /* width: 50%; */
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .boxs {
        gap: 1.25rem;
    }
    .boxs2 {
        gap: 2rem;
    }

    /* 中間＆右邊 */
    .boxs3 {
        /* width: 85rem;
        margin-right: -500px; */

        width: 100%;
        display: flex;
        justify-content: center;
        margin: 4rem 0;
        gap: 0;
    }

    /* 右邊 */
    .align {
        /* display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-left: -4.5rem;
        margin-top: -2rem; */
        /* display: none; */

        position: fixed;
        z-index: 999;
        right: 0;
        top: 13rem;
    }

    /* 工具欄 */
    .iconBox2 {
        order: 1;
        border-radius: 0.938rem 0 0 0.938rem;
    }
    .icon1Box {
        border-radius: 1rem 0 0 1rem;
    }

    /* 尺問設定欄 */
    .sizeAndBeads {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        gap: 1.5rem;
        width: 100%;
        max-width: 800px;
    }
    
    /* 尺寸設定欄＆水晶欄 */
    .sizeBox,
    #beadWindow {
        /* flex: 1;
        min-width: 280px; */
        padding: 1.25rem 1.75rem;
        height: 100%;
    }

    /* 小視窗：關閉鈕 */
    .closeBtn {
        font-size: 1.75rem;
    }
    
    /* 加購物車扭 */
    .icon2 {
        /* order: 2;
        transform: translateX(32px); */
        display: none;
    }
    .icon2Mobile {
        display: flex;
        color: #A67CEB;
        padding: 1rem 5rem;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        border-radius: 999px;
        border: 1px solid #A67CEB;
        background: rgba(254, 250, 255, 0.60);
        box-shadow: 0 0 10px 0 rgba(233, 166, 160, 0.25);
        margin-top: 1.25rem;
        margin-bottom: 2.5rem;
    }
    .btnCart {
        background-image: url(/images/Custom/btn_cart.svg);
        background-size: 1.25rem;
        width: 1.25rem;
        height: 1.25rem;
        display: flex;
    }

    .icon2Mobile:hover {
        background: #A67CEB;
        box-shadow: 0 0 15px 0 rgba(233, 166, 160, 0.25);
        color: #fff;
    }
    .icon2Mobile:hover .btnCart {
        background-image: url(/images/Custom/btn_cart-hover.svg);
    }

    
    /* 手鍊取名區塊 */
    .nametop {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 80%;
    }
    .name {
        display: none;
    }
    .inputNameBox {
        width: 60%;
    }

    /* 手鍊 */
    .bracelet {
        order: 1;
    }

    /* 價錢區域 */
    .priceBox {
        order: 3;
        width: 70%;
    }

    /* 工具欄：小視窗 */
    .iconPanelWrapper {
        order: 2;
        /* margin-top: 1rem; */
    }


    /* 珠子網格 */
    .beadGrid {
        /* margin-top: -3rem; */
        gap: 0.75rem;
    }

    /* 珠子外觀 */
    .bead {
        width: 90%;
        height: 90%;
        border-radius: 50%;
        background: #e3e3e3;
        box-shadow: inset 0 4px 8px rgba(0, 0, 0, .10);
        cursor: pointer;

    }

    /* 已選取的水晶 */
    .selectedBead {
        outline: 2px solid #b28ed5;
        outline-offset: 0px;
        border-radius: 50%;
        z-index: 10;
    }

    /* 文字 */
    .icon2Mobile {
        letter-spacing: 0.15rem;
    }
}


/* RWD 斷點： ≥ 767 */
@media (max-width: 767px) {
    /* 左邊 */
    .boxs {
        width: 90%;
    }
    /* 名稱欄 */
    .inputNameBox {
        width: 80%;
    }
    /* 尺寸設定視窗 */
    .crystalSizeBox,
    .ringSizeBox,
    .ringJewelryBox {
        gap: 0.5rem;
    }
    .sizeBox, #beadWindow {
        padding: 1.25rem;
    }

    /* ⭐️珠子頁籤列 */
    .tab {
        min-width: 0;          
        /* overflow: hidden;       */
        white-space: nowrap;  
        text-overflow: ellipsis;  /* 尾端顯示... */
    }


    /* 珠子網格 */
    .beadGrid {
        /* gap: 0.25rem; */
        grid-template-columns: repeat(6, 36.8px);
        grid-template-rows: repeat(2, 36.8px);
    }
    .bead {
        width: 100%;
        height: 100%;
    }

    /* 中間 */
    .boxs3 {
        margin-bottom: 1.5rem;
    }

    /* 價錢區域 */
    .priceBox {
        width: 100%;
    }

    /* 隱藏按鈕：工具欄 */
    .align {
        top: 7.5rem;
    }
    .iconBox2 {
        border-radius: 0.938rem 0 0 0.938rem;
        flex-direction: column;
    }
    .arrowMobileIcon {
        width: 1.2rem;
        height: 1.2rem;
    }
    .arrowMobile {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 0;
    }
    .arrowMobile p {
        color: #A67CEB;
        font-size: 0.875rem;
        font-weight: 500;
        letter-spacing: 0.05rem;
        margin-right: 0.125rem;
    }
    .buttonMobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        padding: 20px 16px;
        border-radius: 1rem 0 0 1rem;
        z-index: 999;
        right: 0;
        top: 13rem;
        background: rgba(255, 255, 255, 0.8);
        box-shadow: 0 0 11.485px 0 rgba(233, 166, 160, 0.25);
        backdrop-filter: blur(5px);
        color: #8284A2;
        top: 7.5rem;
    }
    .buttonMobile img {
        width: 1.25rem;
        height: 1.25rem;
        padding-top: 0.25rem;
    }
    .recommendDesign {
        writing-mode: vertical-lr;
        white-space: nowrap;
    }
    /* 線(可刪？) */
    .line3 {
        width: 100%;
        border: 0.5px solid  #8284a2;
        margin: 0 -0.1rem;
    }

    /* 工具欄icon */
    .iconBtn1,
    .iconBtn2,
    .iconBtn3,
    .iconBtn4,
    .iconBtn5 {
        width: 2.5rem;
        height: 2.5rem;
    }
    /* 儲存/刪除按鈕 */
    .btnDel, .btnSave {
        width: 4rem;
        height: 4rem;
    }

    /* 隱藏按鈕：動畫 */
    /* 滑出 */
    .slideOut {
        animation: slideOutRight 0.45s forwards ease-in-out;
    }
        @keyframes slideOutRight {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }}
    /* 滑入 */
    .slideIn {
    animation: slideInRight 0.35s forwards ease-in-out;
    }

    @keyframes slideInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }}



    /* 文字大小&間距 */
    .recommendDesign {
        font-size: 1rem;
        letter-spacing: 0.25rem;
    }
    .inputName {
        font-size: 1.25rem;
    }

}



/* ≥ 600 */
@media (max-width:601px) {
    /* 水晶擺放教學 */
    .crystalGuideOverlay {
        width: 100%;
        padding: 1.5rem;
    }

    /* 手鍊 */
    .bracelet {
        transform: scale(0.8);
        margin: 0;
    }

    /* 購物車按鈕(未製作手鍊)彈跳視窗 */
    .modalOverlay {
        padding: 0 10%;
    }
}
/* ≥ 530 */
@media (max-width:531px) {
    .tabLine {
        margin-right: 13%;
        margin-left: -13%;
    }
}

/* ≥ 450 */
@media (max-width:451px) {
    /* 手鍊配飾 */
    .imagesBox {
        margin: 0;
        gap: 0.5rem;
    }

    /* 珠子頁籤 */
    .tabLine {
        margin-right: 27%;
        margin-left: -33%;
    }
    .tabLabelFull {
        display: none;
    }
    .tabLabelShort {
        display: flex;
    }

    /* 手鍊 */
    .bracelet {
        transform: scale(0.65);
        margin: -10% 0;
    }

    /* 右邊：小視窗 */
    .panelContent {
        width: 17rem;
    }


    /* 手鍊加入購物車彈窗 */
    .noticeBox {
        font-size: 14px;
    }
    .modalContentLarge {
        width: 100%;
        height: 100%;
        border-radius: 0;
        max-width: none;
    }

}